<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Celery Example</title>
</head>

<body>
<h1>Eat More Celery</h1>


<p>Current time:  {{ g.current_time | fmtdate }} </p>
<p>Time for celery? {{ g.celery_time }} </p>

<p>Redis: {{ g.redis_stat }}</p>
<p>Redis has been called {{ g.count }} times before</p>

</body> </html>
